.jobMini{
    background-color: black;
    color: wheat;
    height: 325px;
    width: 175px;
    border-radius: 12px;
    margin: 20px 5px;
    box-shadow:
  1.2px 1.2px 2.2px rgba(0, 0, 0, 0.23),
  2.6px 2.6px 5.3px rgba(0, 0, 0, 0.329),
  4.3px 4.3px 10px rgba(0, 0, 0, 0.41),
  6.5px 6.5px 17.9px rgba(0, 0, 0, 0.491),
  9.5px 9.5px 33.4px rgba(0, 0, 0, 0.596),
  16px 16px 80px rgba(0, 0, 0, 0.83)
;
}
.jobMini svg{
    position: relative;
    border-radius: 10px;
    bottom: -287px;
}
.jobMiniDetails{
  display: block;
    position: relative;
    top: -40px;
}
.jobMiniDetails p{
  display: inline-block;
  margin: 3px 0;
}

.jobMiniDetails .employer img{
  height: 30px;
  margin: 3px;
  border-radius: 5px;
}

.jobMiniDetails .jobCardButtons button{
  margin: 0 5px;
  border: 2px solid gray;
  background-color: rgba(19, 18, 18,0.4);
  color: gray;
}
.jobMiniDetails .jobCardButtons button a{
  color:gray
}

.jobMiniDetails .jobCardButtons button:hover{
  margin: 0 5px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0,0.7);
  color: rgb(255, 255, 255);
}
.jobMiniDetails .jobCardButtons button a:hover{
  color:rgb(255, 255, 255)
}

